<h1>Instructions<h1>

<h2>To get started</h2>
<ol>
<li>Create a channel on the main page or by clicking the + in the upper right corner. You will get further instructions. You will need to give the channel a name and a description.</li>
<li>Share the channel URL with your friends.</li>
<li>Start Bazzling.</li>
</ol>

<h2>Bazzling</h2>
<ol>
<li>Open the channel you want to Bazzle in.</li>
<li>Click the empty box in the top of the page and write your Bazzle. The Bazzle will be posted by clicking the enter button or by clicking ”share”.</li>
</ol>

<h2>Channels</h2>
<p>You access the channel by using the URL. You don't have any other option, so keep the URL safe.</p>

<h2>Safety</h2>
<p>The URL of the channel is also a key. Everybody who knows it have access to the channel. Be careful who you share the URL with.</p>

<h2>FAQ</h2>
<h3>How can I get my message removed?</h3>
<p>After posting a message, you have 60 seconds to remove it yourself. If you want to remove it later,you can contact the support at support@bazzle.com. Otherwise it will be online until the channel expires.</p>

<h3>How can I delete my channel?</h3>
<p>A channel expires when it has been inactive for 30 days. If you want your channel removed before 
that contact the support at support@bazzle.com.</p>

<h3>How can I find my channel if I lost the URL for it?</h3>
<p>There is no way to locate your channel if you lose the URL. You can always try to search for the URL in your browser history.</p>

<h3>I was offended in a post. How can I get the post removed?</h3>
<p>The only way to get a post removed is to contact the support at support@bazzle.com.</p>

<h3>My channel URL does not seem to work any more. Why?</h3>
<p>If you are absolutely sure that the URL is correct, the most common reason is that the channel was
inactive for at least for 30 days and expired. Your channel may have also been removed due to its offensive content.</p>
