<h1>Instructions<h1>

<h2>To get started</h2>
<ol>
<li>Create a channel at the main page or by clicking the + in the upper right corner. You will get further 
instructions. You will need to write the channel a name and description.</li>
<li>Share the link you get with your friends.</li>
<li>Start Bazzling.</li>
</ol>

<h2>Bazzling</h2>
<ol>
<li>Open the channel you want to Bazzle.</li>
<li>Click the empty box in the top of the page and write your Bazzle. Bazzle will be posted by clicking the
 enter button or by clicking ”share”.</li>
</ol>

<h2>Channels</h2>
<p>You access the channel by using the URL. You don't have any other option, so keep the URL safe.</p>

<h2>Safety</h2>
<p>The URL of the channel is also a key. Everybody who knows it have access to the channel. Be careful 
by sharing the URL.</p>

<h2>FAQ</h2>
