<h1>Who are we?</h1>

<p>We are three students from the Aalto University School of Science. 
We are studying for a third year in the degree programme of Information Networks. 
This website was created during the spring 2011 as a part of the WWW-service 
design and implementation course from Department of Media Technology.</p>
<p>If you want to contact us feel free to send us e-mail to: info@bazzle.com.</p>
