<h1>Bazzle Terms of Use<h1>

<p>Bazzle is a social platform that allows users to create private channels for a group of people and share gossips through these channels anonymously.</p>

<p>These Terms of Use may be modified from time to time, it constitutes legally binding terms and applies to your use of the Bazzle. By using Bazzle, you agree to be bound by this agreement.</p>

<h2>Using the service</h2>

<p>The maintenance of the service isn't responsible for the content users post in the service. The maintenance trusts users sense of good taste. Even though The maintenance reserves the right to remove the offending content without warning.</p>

<h2>Security</h2>

<% content_for(:footer) do %>
  <%= link_to "Terms of Use", {:controller => "terms"}, {:id => "TOU"} %>
<% end %>