@charset "UTF-8";
/* CSS Document */

html {
	background-color: #99ccff;
	overflow: auto;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#left {
	position: relative;
	top: 70px;
	left: 25%;
	width: 450px;
}

header {
	margin-left: 13px;
	margin-bottom: 5px;
	font-size: 120px;
	font-weight: bolder;
	color: #339933;
	-webkit-text-stroke: 3px black;
}

#logo {
	position: absolute;
	z-index: 1;
	margin-top: -130px;
	margin-left: 380px;
}

#content {
	font-size: 12px;
	width: 440px;
	background-color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

footer {
	height: 50px;
}

#right {
	position: fixed;
	top: 50px;
	left: 75%;
	right: 25%;	
}

#channel_title {
	font-size: 16px;
	text-align: right;
	margin-right: 20px;
	color: #339933;
	font-style: italic;
}

textarea {
	margin-left: 5px;
	font-size: 12px;
	min-width: 420px;
	max-width: 420px;
	border: 2px solid #ff9933;
	border-radius: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea:focus {
	outline: none;
	
}

input {
	position: absolute;
	right: 15px;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ff9933;
	font-weight: bold;
}

#posts {
	margin-top: 35px;
}

/*Inside a post goes message_content, message_ago (and Remove button + seconds_remaining)*/
.post {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #339933;
	background-color: #ccffcc;
	margin: 5px;
	word-break: break-all;
}

.message_content {
	margin: 5px;
	max-width: 410px;
}

.message_ago {
	color: #333333;
	font-style: italic;
	text-align: right;
	margin: 5px;
}

.nobrake {
	margin-left: 5px;
	white-space: nowrap;
}

/*.seconds_remaining {
	right: 120px;
	margin: 5px;
}*/
