@charset "UTF-8";
/* CSS Document */

html {
	background-color: #99ccff;
}

body {
	background-color: #99ccff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#left {
	position: fixed;
	top: 140px;
	right: 25%;
	left: 25%;
	width: 450px;
}

header {
	margin-left: 13px;
	margin-bottom: 55px;
	font-size: 120px;
	font-weight: bolder;
	color: #339933;
	-webkit-text-stroke: 3px black;
}

#logo {
	position: absolute;
	z-index: 1;
	margin-top: -80px;
	margin-left: 380px;
}

#content {
	width: 440px;
	background-color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

footer {
	margin-bottom: 25px;
}

#right {
	position: fixed;
	top: 70px;
	left: 75%;
	right: 25%;	
}


.channel_title {
	font-size: 20px;
	text-align: center;
	color: #999999;
	font-style: italic;
}

form {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #ff9933;
	text-align: center;
	margin: 3px;
}

/*.message {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #339933;
	background-color: #ccffcc;
	margin: 5px;
}*/

#posts {
	text-align: center;
}

#message_ago {
	font-weight: bold;
}

#message_content {
}

#channel_title {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	height: 40px;
}

